body{
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  font-weight: 500;
  background-color: #f3f4f6;
}
form{
  background-color: white;
  width: 350px;
  padding:40px 0px 40px 43px;
}
input:focus {
  outline: none;
}

.form-container{
  padding-left: 35%;
}

.redirect{
  font-size: 15px;
  text-decoration: underline;
  color: grey;
}

.redirect:hover{
  color: rgb(109, 109, 109);
}

input{
  height: 40px;
  width: 300px;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-bottom-style: solid;
  border-bottom-color: rgb(185, 185, 185);
  border-bottom-width: 1px;
  font-size: medium;
}

.submit-button{
  font-weight: 500;
  margin-left: 100px;
  border:none;
  height: 40px;
  width: 100px;
  cursor: pointer;
  background-color: rgb(50, 88, 154);
  color: white;
  border-radius: 10px;
  transition: background-color 0.25s, color 0.25s;
}

.submit-button:hover{
  color: white;
  background-color: rgb(66, 137, 56);
}

p{
  margin-top: 100px;
  color: grey;
  text-decoration: underline;
}

